.container {
  align-content: center;
  padding-top: 5%;
  width: 75%; }
  @media (min-width: 1600px) {
    .container {
      padding-top: 10%; } }

.error-information {
  text-align: center;
  padding-top: 5%;
  background: rgba(255, 255, 255, 0.75);
  padding: 3%;
  border-radius: 33px; }
  .error-information #error-number {
    font-size: 300%; }

.logo {
  margin-left: 30%;
  margin-right: 50%;
  margin-bottom: 7%; }
  .logo #technica-logo {
    display: block;
    width: 15vw;
    height: 4vw; }
    @media (max-width: 1500px) {
      .logo #technica-logo {
        width: 60vw;
        height: 15vw;
        margin-left: -65%; } }
    @media (min-width: 2000px) {
      .logo #technica-logo {
        margin-left: -50%; } }
    @media (min-width: 2400px) {
      .logo #technica-logo {
        margin-left: -80%; } }

.back-to-home-btn {
  margin-top: -5%;
  font-family: DINPro;
  font-size: 125%;
  font-weight: bold;
  color: #fff; }
  @media only screen and (min-width: 2001px) {
    .back-to-home-btn {
      width: 15vw;
      height: 3vw; } }
  @media (min-width: 550px) and (max-width: 750px) {
    .back-to-home-btn {
      width: 45vw;
      height: 5vw; } }
  @media (min-width: 610px) and (max-width: 766px) {
    .back-to-home-btn {
      width: 20vw;
      height: 5vw; } }
  @media (min-width: 767px) and (max-width: 830px) {
    .back-to-home-btn {
      width: 30vw;
      height: 5vw; } }
