/* Text */
h2 {
  text-transform: none; }

.heading-pink {
  font-size: 2rem;
  color: #f27aaa;
  margin-bottom: 10px;
  margin-left: -15px;
  font-weight: bold; }

.heading-lavender {
  font-size: 2rem;
  color: #b5a1c4;
  margin-bottom: 10px;
  margin-left: -15px;
  font-weight: bold; }

/* Mobile Text */
@media only screen and (max-width: 575px) {
  h2 {
    font-size: 2rem; }
  p {
    font-size: 0.4rem; } }

.demo-section {
  background-color: #f3f3f3;
  height: 100%;
  padding: 1.25rem; }

.demo-name {
  text-align: right; }

.demo-legend {
  line-height: 4rem;
  text-align: left;
  font-size: 1.2rem; }

.demo-stat {
  text-align: right;
  float: right; }

.edu-dot {
  width: 1.5vw;
  height: 1.5vw;
  border-radius: 50px;
  display: inline-block;
  vertical-align: -.3vw;
  margin-right: 10px; }

/* large breakpoint, switch to mobile-layout */
@media only screen and (max-width: 991px) {
  .stat-number {
    font-size: 6rem; }
  .stat-text {
    font-size: 2.3rem; }
  .demo-stat {
    width: 10%; }
  .edu {
    padding: 5rem; }
  .edu .demo-name {
    padding-left: 20%; }
  .edu-dot {
    width: 25px;
    height: 25px;
    vertical-align: -6px; }
  .lower .demo-name {
    width: 60%; }
  .lower .demo-stat {
    width: 40%; } }

@media only screen and (max-width: 675px) {
  .stat-number {
    font-size: 5rem; }
  .stat-text {
    font-size: 2.25rem; }
  .demo-name {
    width: 80%; }
  .demo-stat {
    width: 20%; }
  .lower .demo-name {
    width: 70%; }
  .lower .demo-stat {
    width: 30%; } }

/* mobile */
@media only screen and (max-width: 575px) {
  .stat-number {
    font-size: 3.7rem; }
  .stat-text {
    font-size: 1.7rem; }
  .demographics {
    font-size: 3.5vw; }
  .demo-name {
    width: 85%; }
  .demo-legend {
    font-size: 1rem; }
  .demo-stat {
    width: 15%; } }
