/* Text */
.container-fluid {
  padding-left: 7%;
  padding-right: 7%; }

.header {
  margin-top: 5rem; }

.demographics .contact,
.stats,
.prospectus {
  margin-top: 60px; }

.info-input {
  padding: 10px;
  background-color: #ff5789; }

.inquiry-box {
  border: 3px solid #ff5789; }

.form-control {
  border-radius: 0;
  border: none; }

.inquiry-btn {
  border-radius: 0;
  background-color: #ff5789; }

.inquiry-btn:hover {
  filter: brightness(1.2);
  transition: 0.3s ease; }

.overall-stats .heading {
  font-size: 3.75rem; }

.overall-stats img {
  height: 75%;
  width: 95%;
  object-fit: cover;
  box-shadow: -2rem 0rem 0 -20px #a88aa8, 0.75rem -0.75rem #ff7bac; }

.overall-stats .stat-number {
  font-size: 4rem;
  color: #b5a1c4;
  font-weight: bold; }

.overall-stats .stat-text {
  font-size: 1.5rem;
  font-weight: bold; }

/* Text */
h2 {
  text-transform: none; }

.heading-pink {
  font-size: 2rem;
  color: #f27aaa;
  font-weight: bold; }

.heading-lavender {
  font-size: 2rem;
  color: #b5a1c4;
  font-weight: bold; }

.demo-section {
  background-color: #f3f3f3;
  height: 100%;
  padding: 1.25rem; }

.demo-name {
  text-align: right; }

.demo-legend {
  line-height: 3rem; }

.demo-stat {
  text-align: left;
  float: right;
  width: 30%; }

.demo-legend {
  line-height: 4rem;
  text-align: left;
  font-size: 1.2rem; }

.demo-stat {
  text-align: right;
  float: right; }

.demo-ethnicities {
  line-height: 5vh; }

.edu-dot {
  width: 1.5vw;
  height: 1.5vw;
  border-radius: 50px;
  display: inline-block;
  vertical-align: -0.3vw;
  margin-right: 10px; }

/* large breakpoint, switch to mobile-layout */
@media only screen and (max-width: 991px) {
  .stat-number {
    font-size: 6rem; }
  .stat-text {
    font-size: 2.3rem; }
  .stat-number {
    font-size: 6rem; }
  .edu {
    padding: 5rem; }
  .edu .demo-name {
    padding-left: 20%; }
  .edu-dot {
    width: 25px;
    height: 25px;
    vertical-align: -6px; }
  .lower .demo-name {
    width: 60%; }
  .lower .demo-stat {
    width: 40%; }
  .demographics {
    font-size: 16px; }
  .demo-section {
    margin-bottom: 20px; }
  .demo-stat {
    width: 30%; }
  canvas {
    margin-bottom: 20px; } }

@media only screen and (max-width: 675px) {
  .stat-number {
    font-size: 5rem; }
  .stat-text {
    font-size: 2.25rem; }
  .demo-name {
    width: 80%; }
  .demo-stat {
    width: 20%; }
  .lower .demo-name {
    width: 70%; }
  .lower .demo-stat {
    width: 30%; } }

/* mobile */
@media only screen and (max-width: 575px) {
  .stat-number {
    font-size: 3.7rem; }
  .stat-text {
    font-size: 1.7rem; }
  .demographics {
    font-size: 3.5vw; }
  .demo-name {
    width: 85%; }
  .demo-legend {
    font-size: 1rem; }
  .demo-stat {
    width: 15%; }
  .main {
    padding-left: 3%;
    padding-right: 3%; }
  h1 {
    font-size: 1.9rem; }
  .overall-stats .heading {
    font-size: 3.25rem; }
  .overall-stats img {
    box-shadow: -1.8rem 0rem 0 -20px #a88aa8, 0.5rem -0.5rem #ff7bac; }
  .edu .demo-name {
    padding-left: 10%; }
  .prospectus {
    font-size: 0.9rem; }
  .tooltip-inner {
    width: 300px; }
  .prospectus {
    font-size: 0.9rem; }
  .heading {
    text-align: center; }
  .heading h2 {
    font-size: 31px; }
  .tooltip-inner {
    min-width: 200px;
    max-width: 300px; } }

.prospectus {
  margin-top: 60px; }

td {
  border-top: none !important; }

th {
  border-top: none !important;
  padding-bottom: 5px !important;
  border-bottom: solid 1px black;
  background-color: white !important; }

.add-ons td {
  border-bottom: 2px solid #dee2e6; }

.contr-amt {
  width: 11%; }

.benefit {
  width: 12px;
  height: 12px;
  border-radius: 50px;
  margin: 0 auto; }

.benefit-text {
  color: #b5a1c4; }

.general-spons {
  background: #f27aaa; }

.general-text {
  color: #f27aaa; }

.recruit {
  background: #b5a1c4; }

.brand {
  background: #6fcbdc; }

.brand-text {
  color: #6fcbdc; }

.prospectus span {
  cursor: default;
  color: grey;
  padding-left: 3px; }

.prospectus a {
  color: #a88aa8;
  color: #b5a1c4; }

.prospectus a:hover,
.prospectus a:active {
  color: #b5a1c4;
  filter: brightness(1.2);
  transition: 0.3s ease;
  text-decoration: none; }

.tooltip-inner {
  min-width: 200px;
  max-width: 350px; }

.add-ons {
  overflow-x: visible !important; }

#thank-you {
  background-color: #ff5789;
  padding: 10px; }

@media only screen and (max-width: 1370px) {
  .main {
    padding-left: 7%;
    padding-right: 7%; }
  .stat-number {
    font-size: 6.25vw; }
  .stat-text {
    font-size: 2.5vw; } }

.info-input {
  padding: 10px;
  background-color: #f27aaa; }

.inquiry-box {
  border: 3px solid #f27aaa; }

.form-control {
  border-radius: 25px;
  border: none; }

.inquiry-btn {
  border-radius: 50px;
  background-color: #f27aaa; }

.inquiry-btn:hover {
  filter: brightness(1.2);
  transition: 0.3s ease; }
