/* Text */
.heading-pink {
  font-size: 2rem;
  color: #f27aaa;
  margin-bottom: 10px;
  margin-left: -15px;
  font-weight: bold; }

.heading-lavender {
  font-size: 2rem;
  color: #b5a1c4;
  margin-bottom: 10px;
  margin-left: -15px;
  font-weight: bold; }

.demo-section {
  background-color: #f3f3f3;
  padding: 2rem;
  font-size: 1.25rem;
  height: 100%; }

.demo-name {
  text-align: right;
  padding-right: 5%;
  float: left;
  width: 85%; }

.demo-legend {
  line-height: 3rem; }

.demo-stat {
  text-align: left;
  float: right;
  width: 15%; }

.edu-dot {
  width: 1.5vw;
  height: 1.5vw;
  border-radius: 50px;
  display: inline-block;
  vertical-align: -.3vw;
  margin-right: 10px; }
