$cyan: #82ecec;
$pink: #ff6b98;
$lavender: #b5a1c4;
$light-lavender: #cca8c1;
$ex-light-lavender: #e9e3ed;
$hero-blue: #6fcbdc;

.main {
  margin-top: 50px;
  padding-left: 15%;
  padding-right: 15%;
}

.heading {
  color: $pink;
}

.position-desc img {
  height: 20vw;
  min-height: 250px;
  width: 100%;
  object-fit: cover;
  padding: 20px;
  padding-bottom: 10px;
}

.position-desc img:hover {
  filter: brightness(1.15);
  transition: 0.3s ease;
}

.position-desc h2 {
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

.position-desc li {
  padding: 5px 0px;
  left: 200px;
}

.perk-list li {
  padding: 2px;
}

.apply {
  font-size: 1.75rem;
}

.apply .btn {
  background-color: $pink;
  font-size: 2rem;
  margin-bottom: 10px;
}

.apply .btn:hover {
  filter: brightness(1.2);
  transition: 0.3s ease;
}

.faq {
  margin-top: 40px;
  margin-bottom: 30px;
}

.card {
  border: none;
}

.card-header {
  background-color: white;
  padding-left: 0px;
}

.accordion .btn {
  color: black;
  white-space: normal;
  text-align: left;
  width: 100%;
  padding-left: 0px;
  padding-bottom: 0px;
}

.card-body {
  padding-left: 0px;
  color: grey;
}

.email {
  font-size: 1.75rem;
  padding-bottom: 5%;
}
/* large breakpoint, position description collapses */
@media only screen and (max-width: 991px) {
  .position-desc h2 {
    height: auto;
  }

  .apply {
    padding-top: 20px;
  }
}

/* mobile */
@media only screen and (max-width: 575px) {
  .position-desc img {
    padding-left: 0px;
    padding-right: 0px;
  }

  .accordion .btn {
    text-align: center;
  }

  .card-body {
    text-align: center;
  }
}
