/*@use 'vars';*/
//temporary until resolve _vars.scss issue

HERO SECTION BEGINS HERE
.hero-clouds {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 1;
  @media only screen and (max-width: 767px) {
    width: 834px;
    height: 663px;
    left: -100px;
    top: -26px;
  }

  @media only screen and (max-width: 1024px) {
    width: 834px;
    height: 663px;
    left: 0px;
    top: 69px;
  }
}

.hero {
  position: relative;
  overflow: hidden;
  padding-bottom: 10%;
}

@keyframes wait {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    pointer-events: auto;
  }
}

@mixin fade-in($waitTime) {
  animation: wait $waitTime, fade-in 800ms $waitTime;
  animation-duration: 2s;
}

.hero-information {
  position: relative;
  z-index: 3;
  @include fade-in(600ms);
  .hero-logo {
    margin-bottom: 15px;
  }

  @media only screen and (max-width: 767px) {
    margin-top: -225px;
  }
  #technica-logo {
    padding-top: 5%;
    margin-top: 10%;
    width: 600px;
    @media only screen and (max-width: 767px) {
      padding-top: 10%;
    }
  }
  #hero-tagline {
    font-size: 150%;
    width: 55%;
    @media only screen and (max-width: 767px) {
      font-size: 100%;
      width: 95%;
    }
    @media only screen and (min-width: 767px) and (max-width: 1042px) {
      width: 85%;
    }
  }
}

.hero-action {
  position: relative;
  z-index: 2;
  opacity: 0;
  animation: fade-in 2s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;

  @media only screen and (min-width: 996px) {
    padding-top: 115px;
  }

  @media only screen and (min-width: 1400px) {
    padding-top: 350px;
  }

  .register-btn {
    @include dinpro-text(175%, bold, #fff);
    position: relative;
    z-index: 2;

    @media only screen and (max-width: 767px) {
      @include dinpro-text(125%, bold, #fff);
    }
  }
  .hero-learn {
    color: #b6a1c4;
    font-size: 150%;
    @media only screen and (max-width: 767px) {
      font-size: 115%;
    }
  }
}

@media only screen and (max-width: 991px) {
  .hero-information {
    .hero-logo {
      margin-top: 150px;
    }
  }
  .hero-action {
    padding-top: 100px;
  }
}

@media only screen and (max-width: 767px) {
  .hero-information {
    .hero-logo {
      margin-top: 225px;
    }
    #technica-logo {
      width: 500px;
    }
  }
  .hero-action {
    padding-top: 100px;
  }
}

@media only screen and (max-width: 575px) {
  .hero {
    padding-bottom: 75px;
  }
  .hero-information {
    font-size: 5vw;
    #technica-logo {
      width: 80vw;
    }
    #theme-logo {
      width: 40vw;
      min-width: 120px;
    }
  }
}

/*HERO SECTION ENDS*/

$cyan: #82ecec;
$pink: #f27aaa;
$lavender: #b5a1c4;
$light-lavender: #cca8c1;
$ex-light-lavender: #e9e3ed;
$hero-blue: #6fcbdc;

h1 {
  color: rgb(255, 107, 152);
}

h2 {
  text-align: center;
  font-size: 60px;
}

.curved {
  background-color: #ece3f2;
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
  padding-top: 50px;
}

.donate-story {
  background-color: #ece3f2;
  padding-top: 3%;
  padding-bottom: 3%;
}

.story-header {
  display: flex;
}

.story-image {
  padding-bottom: 20px;
}

.donate-promise {
  background-color: #e4d7ed;
  padding-top: 3%;
  padding-bottom: 3%;
}

.our-donor {
  padding-top: 10px;
}

.promise-image {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  left: 783px;
  object-fit: cover;
}

.top-logo {
  width: 100%;
  object-fit: contain;
}

.donate-impact {
  background-color: #ece3f2;
  padding-top: 3%;
  padding-bottom: 3%;
}

.impact-header {
  text-align: center;
  padding-bottom: 1%;
}

.donate-option1 {
  background: #ffffff;
  border: 6px solid #1cd5d5;
  padding: 3%;
  padding-top: 5%;
  text-align: center;
  width: 100%;
  height: 100%;
}

.donate-option1-header {
  color: #1cd5d5;
  font-size: 300%;
}

.donate-option2 {
  background: #ffffff;
  border: 6px solid #a88aa8;
  padding: 3%;
  padding-top: 5%;
  text-align: center;
  width: 100%;
  height: 100%;
}

.donate-option2-header {
  color: #a88aa8;
  font-size: 300%;
}

.donate-option3 {
  background: #ffffff;
  border: 6px solid #ff5789;
  padding: 3%;
  padding-top: 5%;
  text-align: center;
  width: 100%;
  height: 100%;
}

.donate-option3-header {
  color: #ff5789;
  font-size: 300%;
}

.donate-questions {
  background-color: #e4d7ed;
  padding-top: 3%;
  padding-bottom: 0.5%;
}

#email-link-donate:hover {
  opacity: 75%;
  text-decoration: none;
  transition: 0.3s ease;
}

.social,
.secondary-links {
  background-color: #e4d7ed;
  padding-bottom: 0.1%;
}

.social {
  padding-bottom: 0.1%;
}

.nav-link:hover {
  opacity: 75%;
  transition: 0.3s ease;
}

@media only screen and (min-width: 1200px) {
  .promise-image img {
    max-height: 260px;
  }
}

/* mobile */
@media only screen and (max-width: 575px) {
  .story-header {
    text-align: center;
  }
  .promise-image {
    padding-top: 0%;
    padding-bottom: 0%;
  }
  .donate-impact {
    padding: 7%;
  }
  .donate-questions {
    padding-top: 5%;
  }
  .col-sm {
    padding-bottom: 5%;
  }
}
