/*@use 'vars';*/
//temporary until resolve _vars.scss issue

$cyan: #82ecec;
$pink: #f27aaa;
$lavender: #b5a1c4;
$light-lavender: #cca8c1;
$ex-light-lavender: #e9e3ed;
$hero-blue: #6fcbdc;

//HERO SECTION BEGINS HERE
.hero-clouds {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 1;
  @media only screen and (max-width: 767px) {
    width: 834px;
    height: 663px;
    left: -100px;
    top: -26px;
  }

  @media only screen and (max-width: 1024px) {
    width: 834px;
    height: 663px;
    left: 0px;
    top: 69px;
  }
}

.hero {
  position: relative;
  overflow: hidden;
  padding-bottom: 10%;
}

@keyframes wait {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    pointer-events: auto;
  }
}

@mixin fade-in($waitTime) {
  animation: wait $waitTime, fade-in 800ms $waitTime;
  animation-duration: 2s;
}

.hero-information {
  position: relative;
  z-index: 3;
  @include fade-in(600ms);
  .hero-logo {
    margin-bottom: 15px;
  }

  @media only screen and (max-width: 767px) {
    margin-top: -225px;
  }
  #technica-logo {
    padding-top: 5%;
    margin-top: 10%;
    width: 600px;
    @media only screen and (max-width: 767px) {
      padding-top: 10%;
    }
  }
  #hero-tagline {
    font-size: 150%;
    width: 55%;
    @media only screen and (max-width: 767px) {
      font-size: 100%;
      width: 95%;
    }
    @media only screen and (min-width: 767px) and (max-width: 1042px) {
      width: 85%;
    }
  }
}

.hero-action {
  position: relative;
  z-index: 2;
  opacity: 0;
  animation: fade-in 2s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;

  @media only screen and (min-width: 996px) {
    padding-top: 115px;
  }

  @media only screen and (min-width: 1400px) {
    padding-top: 350px;
  }

  }
}

@media only screen and (max-width: 991px) {
  .hero-information {
    .hero-logo {
      margin-top: 150px;
    }
  }
  .hero-action {
    padding-top: 100px;
  }
}

@media only screen and (max-width: 767px) {
  .hero-information {
    .hero-logo {
      margin-top: 225px;
    }
    #technica-logo {
      width: 500px;
    }
  }
  .hero-action {
    padding-top: 100px;
  }
}

@media only screen and (max-width: 575px) {
  .hero {
    padding-bottom: 75px;
  }
  .hero-information {
    font-size: 5vw;
    #technica-logo {
      width: 80vw;
    }
    #theme-logo {
      width: 40vw;
      min-width: 120px;
    }
  }
}

/*HERO SECTION ENDS*/

/* link */
.donate-button {
  text-align: center;
  align-items: center;
  color: white;
  background-color: $lavender;
  border: none;
  border-radius: 50px;
  font-size: 30px;
  font-weight: bold;
  padding: 5px 45px;
}

/* div */
.donate-btn {
  margin-top: 5%;
  margin-bottom: 3%;
}

.donate-button:hover {
  opacity: 75%;
  text-decoration: none;
  color: #fff;
  transition: 0.3s ease;
}

.b1 {
  padding-bottom: 40px;
  padding-top: 20px;
}

h1 {
  color: rgb(255, 107, 152);
}

h2 {
  text-align: center;
  font-size: 60px;
}

.curved {
  background-color: #ece3f2;
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
  padding-top: 50px;
}

.donate-header {
  padding-top: 50px;
  padding-bottom: 20px;
  font-size: 10px;
}

.donate-story {
  background-color: #ece3f2;
  padding-top: 3%;
  padding-bottom: 3%;
}

.story-header {
  display: flex;
}

.story-image {
  padding-bottom: 20px;
}

.donate-promise {
  padding-top: 3%;
  padding-bottom: 3%;
}

.our-donor {
  padding-top: 10px;
}

.promise-image {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  left: 783px;
  object-fit: cover;
}

.top-logo {
  width: 100%;
  object-fit: contain;
}

.donate-impact {
  background-color: rgba(236, 177, 206, 0.26);
  padding-top: 3%;
  padding-bottom: 3%;
}

.impact-header {
  color: black;
  text-align: center;
  padding-bottom: 2.5%;
}

.donate-option1-header,
.donate-option2-header,
.donate-option3-header {
  display: inline-block;
  font-size: 300%;
  margin-bottom: 10%;
}

.donate-option1-header {
  color: $hero-blue;
}

.donate-option2-header {
  color: $lavender;
}

.donate-option3-header {
  color: $pink;
}

.donate-option1,
.donate-option2,
.donate-option3 {
  background: white;
  border-radius: 33px;
  padding: 8%;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  height: 100%;
  min-height: 290px;
}

.donate-option1 {
  border: 6px solid $hero-blue;
}

.donate-option2 {
  border: 6px solid $lavender;
}

.donate-option3 {
  border: 6px solid $pink;
  max-height: 315px;
}

.donate-questions {
  background-color: white;
  padding-top: 3%;
}

#email-link-donate:hover {
  opacity: 75%;
  text-decoration: none;
  transition: 0.3s ease;
}

.social,
.secondary-links {
  background-color: #e4d7ed;
  padding-bottom: 0.1%;
}

.social {
  padding-bottom: 0.1%;
}

.nav-link:hover {
  opacity: 75%;
  transition: 0.3s ease;
}

@media only screen and (min-width: 1200px) {
  .promise-image img {
    max-height: 260px;
  }

  /* impact section */
  .donate-btn {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 1200px) {
  /* impact section */
  .donate-option1,
  .donate-option2,
  .donate-option3 {
    padding: 8%;
    width: 80%;
    height: 100%;
    min-height: 300px;
    max-height: 300px;
  }

  .donate-btn {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 991px) {
  /* impact section */
  .impact-header {
    font-size: 280%;
  }

  .donate-option1,
  .donate-option2,
  .donate-option3 {
    padding: 8%;
    margin-left: 2%;
    margin-right: 2%;
    width: 97%;
    height: 100%;
    min-height: 300px;
    max-height: 300px;
  }

  .donate-button {
    font-size: 170%;
  }

  .donate-questions {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 767px) {
  /* impact section */
  .impact-header {
    font-size: 250%;
  }

  .donate-option1,
  .donate-option2,
  .donate-option3 {
    padding: 8%;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    height: 100%;
    min-height: 300px;
    max-height: 300px;
    font-size: 85%;
  }

  .donate-button {
    font-size: 150%;
  }

  .donate-questions {
    margin-top: 30px;
    font-size: 95%;
  }
}

/* mobile */
@media only screen and (max-width: 575px) {
  .story-header {
    text-align: center;
  }

  .promise-image {
    padding-top: 0%;
    padding-bottom: 0%;
  }

  /* impact section */
  .impact-header {
    font-size: 7vw;
  }

  .donate-option1-header,
  .donate-option2-header,
  .donate-option3-header {
    display: inline-block;
    font-size: 250%;
    margin-bottom: 10%;
  }

  .donate-option1,
  .donate-option2,
  .donate-option3 {
    padding: 6%;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: 100%;
    min-height: 240px;
    max-height: 240px;
  }

  .donate-button {
    font-size: 130%;
  }

  .donate-btn {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .donate-questions {
    margin-left: 2%;
    margin-right: 2%;
    font-size: 81%;
  }

  .col-sm {
    padding-bottom: 5%;
  }
}
