@mixin dinpro-text($size, $weight, $color) {
  font-family: DINPro;
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

.container {
  align-content: center;
  padding-top: 5%;
  width: 75%;
  @media (min-width: 1600px) {
    padding-top: 10%;
  }
}

.error-information {
  text-align: center;
  padding-top: 5%;
  background: rgba(255, 255, 255, 0.75);
  padding: 3%;
  border-radius: 33px;

  #error-number {
    font-size: 300%;
  }
}

.logo {
  margin-left: 30%;
  margin-right: 50%;
  margin-bottom: 7%;
  #technica-logo {
    display: block;
    width: 15vw;
    height: 4vw;
    @media (max-width: 1500px) {
      width: 60vw;
      height: 15vw;
      margin-left: -100%;
    }
  }
}
.back-to-home-btn {
  margin-top: -5%;
  @include dinpro-text(125%, bold, #fff);

  @media only screen and (min-width: 2001px) {
    width: 15vw;
    height: 3vw;
    //@include dinpro-text(235%, bold, #fff);
  }
  @media (min-width: 550px) and (max-width: 750px) {
    width: 45vw;
    height: 5vw;
  }
  @media (min-width: 610px) and (max-width: 766px) {
    width: 20vw;
    height: 5vw;
  }
  @media (min-width: 767px) and (max-width: 830px) {
    width: 30vw;
    height: 5vw;
  }
}
