/*@use 'vars';*/
//temporary until resolve _vars.scss issue
$cyan: #82ECEC;
$dark-cyan: #4CA1A7;
$darker-cyan: #324D66;
$pink: #FF6B98;
$lavender: #A88AA8;

$light-lavender: #CCA8C1;
$ex-light-lavender: #E9E3ED;
$dark-blue: #324d66;
$peach: #EBB8BE;
$blue: #C3DDE2;
$grey: #C4C4C4;
$light-grey: #E5E5E5;

$animation-length: 80s;

@mixin dinpro-text($size, $weight, $color){
  font-family: DINPro;
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

.btn {
  @include dinpro-text(140%, bold, #fff);
  background-color: $lavender;
  border-radius: 50px;
  text-transform: uppercase;
  margin-top: 3%;
  padding: 3px 25px;
  transition: .3s ease;
}

.btn:hover {
  transform: scale(1.05);
  opacity: 0.95;
}

.disabled-btn {
  pointer-events: none !important;
}

.section {
  padding: 3%;
  @media (max-width: 767px) {
    padding: 30px 0px;
  }
}

.header {
  padding-bottom: 1%;
}

// *** navbar ***
#navbar {
  background-color: white;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  transition: all 200ms linear;
  .nav-link {
    @include dinpro-text(24px,bold,$lavender);
    text-transform: uppercase;
    @media (max-width: 767px) {
      font-size: 18px;
    }
  }
  .nav-link:hover {
    transition: .3s ease;
    opacity: 0.8;
  }
  @media (max-width: 575px) {
    display: none !important;
  }
}

.navbar-nav > li{
  margin: 0vw 4vw;
  @media (max-width: 991px) {
    margin: 0vw 2vw;
  }
  @media (max-width: 767px) {
    margin: 0vw 1vw;
  }
}

// *** hero section ***
.hero-clouds {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.hero {
  position: relative;
  overflow: hidden;
  padding-bottom: 10%;
}

@keyframes wait {
  0% { opacity: 0;}
  100% { opacity: 0;}
}

@keyframes fade-in {
  0% { opacity: 0;}
  100% { opacity: 1; pointer-events: auto;}
}

@mixin fade-in($waitTime) {
  animation: wait $waitTime, fade-in 800ms $waitTime;
  animation-duration: 2s;
}

.hero-information {
  position: relative; //allows us to set z index so it appears on top of illustrations
  z-index: 3;
  @include fade-in(600ms);
  .hero-logo {
    margin-bottom: 15px;
  }
  #technica-logo {
    padding-top: 10%;
    width: 600px;
  }
  #hero-tagline {
    color: #464343;
    font-size: 150%;
    width: 55%;
    @media only screen and (max-width: 767px) {
      font-size: 115%;
      width: 100%;
    }
  }
}

.hero-action {
  padding-top: 125px;
  align-content: center;
  position: relative;
  z-index: 2;

  .register-btn {
    position: relative;
    margin-left: 40.5%;
    z-index: 2;
    opacity: 0;
    //media queries per device not best option - fix later
    @media only screen and (max-width: 900px) {
      margin-left: 20%;
    }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px){
      margin-left: 35%;
    }
    animation: fade-in 2s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
  }
}

@media only screen and (max-width: 991px) {
  .hero-information {
    .hero-logo {
      margin-top: 150px;
    }
  }
}

// change to mobile
@media only screen and (max-width: 767px) {
  .hero-information {
    .hero-logo {
      margin-top: 225px;
    }
    #technica-logo {
      width: 500px;
    }
  }
  
}

@media only screen and (max-width: 575px) {
  .hero {
    padding-bottom: 75px;
  }
  .hero-information {
    font-size: 5vw;
    #technica-logo {
      width: 80vw;
    }
    #theme-logo {
      width: 40vw;
      min-width: 120px;
    }
  }
}

// *** intro section ***
// not sure if photobooth img is too big on mobile
/*#about-image{
  @media only screen and (max-width: 600px) {
    height: 50%;
    width: 50%;
  }
}*/

// *** testimonials section ***
.testimonials {
  position: relative;
  z-index: 5;
  margin-top: -1vw; //white line was appearing between sections
}

//can't rename from tracks without js breaking - figure out later
.beginner, .hardware, .general, .research {
  padding: 25px 10px;
  height: 100%;
  margin: 0px 5px;
  width: 675px;
  background-color: $ex-light-lavender;
  border-radius: 8px;
}

.testimonial-text {
  padding: 0px 30px;
  font-size: 200%;
  font-weight: 200;
}

.testimonial-image {
  padding-bottom: 5%;
}

.gallery {
  height: 450px;
}
//need to clean this up later
@media (max-width: 991px) {
  .gallery {
    height: 500px;
  }

  .beginner, .hardware, .general, .research {
    width: 500px;
  }
}

@media (max-width: 767px) {
  .gallery {
    height: 500px;
    width: 100%;
    position: relative;
  }

  .beginner, .hardware, .general, .research {
    margin: 0px 3px;
  }
}

@media (max-width: 575px) {
  .gallery {
    height: 510px;
  }

  .beginner, .hardware, .general, .research {
    width: 85%;
  }
}

@media (max-width: 500px) {
  .gallery {
    height: 540px;
  }
}
@media (max-width: 425px) {
  .gallery {
    height: 580px;
  }
  .general-text, .beginner-text {
    padding: 0px;
  }
}
@media (max-width: 385px) {
  .gallery {
    height: 640px;
  }
}

// *** registration section ***
.registration {
  @media (max-width: 575px) {
    font-size: 1rem;
  }
}

.hacker, .mentor, .volunteer {
  background-color: $ex-light-lavender;
  border-radius: 8px;
  text-align: center;
  padding: 4%;
  .btn {
    margin: 3% 0%;
  }
}

@media only screen and (max-width: 991px) {
  .registration .btn {
    font-size: 17px;
  }
}

//mobile
@media only screen and (max-width: 767px) {
  .hacker, .mentor, .volunteer {
    text-align: center;
    width: 100%;
    padding: 3%;
    margin-bottom: 3%;
    .btn {
      margin: 0;
    }
  }
}

// *** FAQ section ***
.faq {
  @media (max-width: 575px) {
    padding-left: 3%;
    padding-right: 3%;
  }
}

.faq-container {
  background-color: $ex-light-lavender;
  padding: 3%;
  border-radius: 8px;
}

.accordion {
  display: flex;
  justify-content: space-between;
  border: none;
  padding-bottom: 2%;
  padding-top: 2%;
  margin-bottom: 2%;
  border-bottom: 3px solid $ex-light-lavender;
  transition: ease all 0.3s;
  cursor: pointer;
  h4 {
    max-width: 95%;
  }
}

.accordion:hover, .accordion-active {
  border-color: $lavender;
}

.faq-toggle-icon { //https://jsfiddle.net/psullivan6/0eL3jezk/
  position: relative;
  width: 10px;
  height: 10px;
  margin-top: 8px;

  &:before,
  &:after{
    content: "";
    position: absolute;
    background-color: black;
    transition: transform 0.25s ease-out;
  }

  /* vertical line */
  &:before{
    top: 0;
    left: 50%;
    width: 2px;
    height: 100%;
    margin-left: -1px;
  }

  /* horizontal line */
  &:after{
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    margin-top: -1px;
  }
}

.accordion-active {
  .faq-toggle-icon {
      &:before{ transform: rotate(90deg);}
      &:after{ transform: rotate(180deg);}
  }
}

.panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.1s ease-out;
  @media (max-width: 575px) {
    font-size: 1rem;
  }
 }

 .link, .link:visited {
  font-weight: bold;
  color: $lavender;
}

.link:hover {
  color: $lavender;
  transition: ease 0.3s;
  opacity: 0.7;
  text-decoration: none;
}

// *** footer section ***
.contact-footer {
  color: black;
}

.contact {
  @media (min-width: 1750px) {
    padding-bottom: 50px;
  }
  @media (min-width: 1850px) {
    padding-bottom: 30px;
    padding-top: 0px;
    margin-top: -10px;
  }
  @media (min-width: 2300px) {
    padding-bottom: 40px;
  }
}

.contact-header {
  @include dinpro-text(36px, bold, black);

  @media (max-width: 575px) {
    padding-bottom: 3%;
  }
}

.contact-content {
  margin-top: -10px;
  margin-bottom: 20px;
}

.email-link, .email-link:visited {
  color: black;
}

.email-link:hover{
  color: black;
  transition: ease 0.3s;
  opacity: 0.7;
  text-decoration: none;
}

.social-buttons > a:hover {
  text-decoration: none;
}

// contact Circle Class
@mixin circle($color, $size) {
  background-color: $color;
  width: $size;
  height: $size;
  border-radius: 50%;
  display: inline-block;
}

//contact us circles
%contact-circle {
  padding: 8px;
  margin: 0px 10px;
  transition: ease 0.2s;
  @include circle($cyan, 50px);
  &:hover {
    transform: scale(1.06);
  }
  @media (max-width: 575px) {
    margin: 0px 3px;
    padding: 5px;
    width: 40px;
    height: 40px;
  }
}

.blue-circle {
  @extend %contact-circle;
  background-color: $dark-cyan;
}

.purple-circle {
  @extend %contact-circle;
  background-color: $lavender;
}

.pink-circle {
  @extend %contact-circle;
  background-color: $pink;
}

.footer {
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;

  #footer-links {
    a:link, a:visited {
      color: black;
    }
    a:hover{
      transition: ease 0.3s;
      opacity: 0.7;
      text-decoration: none;
    }
  }

  @media (min-width: 1850px) {
    padding-top: 0px;
    padding-bottom: 4%;
  }
  @media (min-width: 2300px) {
    padding-bottom: 6%;
  }
  @media (max-width: 575px) {
    font-size: 0.9rem;
      adding: 0.5rem 0rem;
  }
}

@media (max-width: 991px) {
  #mlh-trust-badge {
    right: 15px !important;
  }
}