/*@use 'vars';*/
//temporary until resolve _vars.scss issue
$cyan: #82ecec;
$pink: #ed648d; //old: #f27aaa;
$lavender: #9c8da5; //old color: #b5a1c4;
$dark-lavender: #8d7c98;
$darker-lavender: #72607b;
$light-lavender: #cca8c1;
$ex-light-lavender: #e9e3ed;
$hero-blue: #6fcbdc;
$dark-grey: #606060;
$orange: #F9B7AE;
$hero-blue: #8cd8ed;
$polaroid-border: #F7F3ED;

$animation-length: 80s;

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@mixin dinpro-text($size, $weight, $color) {
  font-family: DINPro;
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

.btn {
  @include dinpro-text(140%, bold, #fff);
  background-color: $dark-lavender;
  border-radius: 50px;
  text-transform: uppercase;
  margin-top: 3%;
  padding: 3px 25px;
  transition: 0.3s ease;
}

.dark-btn {
  background-color: $dark-lavender;
}

.btn:hover {
  transform: scale(1.05);
  opacity: 0.95;
}

.disabled-btn {
  pointer-events: none !important;
}

.section {
  padding: 3%;
  @media (max-width: 767px) {
    padding: 30px 0px;
  }
}

.header {
  padding-bottom: 1%;
}

html,
body {
  overflow-x: hidden;
  width: 100%;
}

body {
  position: relative;
}

// *** navbar ***
#navbar {
  background-color: white;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  transition: all 200ms linear;
  position: fixed;
  width: 100%;
  top: 0;

  .navbar-toggler {
    border: none;
  }

  .navbar-toggler-icon {
    color: $lavender !important;
    width: 2em;
    height: 2em;
  }

  .nav-link {
    @include dinpro-text(24px, bold, $lavender);
    text-transform: uppercase;
    @media (max-width: 767px) {
      font-size: 18px;
    }
  }
  .nav-link:hover {
    transition: 0.3s ease;
    opacity: 0.8;
  }
}

.scrolled {
  visibility: visible !important;
  width: 1000px;
  background-color: #fff !important;
  -moz-box-shadow: 0 4px 4px 0 #000;
  -webkit-box-shadow: 0 4px 4px 0 #000;
  box-shadow: 0 4px 4px 0 #000;
  transition: all 0.2s linear;

  .nav-link {
    color: $lavender !important;
    transition: color 200ms linear;
  }

  .navbar-toggler {
    border: none;
  }
}

.navbar-nav > li {
  margin: 0vw 4vw;
  @media (max-width: 991px) {
    margin: 0vw 2vw;
  }
  @media (max-width: 767px) {
    margin: 0vw 1vw;
  }
}

// *** hero section ***
.hero-clouds {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 1;
  @media only screen and (max-width: 767px) {
    width: 834px;
    height: 663px;
    left: -100px;
    top: -26px;
  }

  @media only screen and (max-width: 1024px) {
    width: 834px;
    height: 663px;
    left: 0px;
    top: 69px;
  }
}

.hero {
  position: relative;
  overflow: hidden;
  padding-bottom: 10%;
}

@keyframes wait {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    pointer-events: auto;
  }
}

@mixin fade-in($waitTime) {
  animation: wait $waitTime, fade-in 800ms $waitTime;
  animation-duration: 2s;
}

.hero-information {
  position: relative;
  z-index: 3;
  @include fade-in(600ms);
  .hero-logo {
    margin-bottom: 15px;
  }

  @media only screen and (max-width: 767px) {
    margin-top: -225px;
  }
  #technica-logo {
    padding-top: 5%;
    margin-top: 10%;
    width: 600px;
    @media only screen and (max-width: 767px) {
      padding-top: 10%;
    }
  }
  #hero-tagline {
    font-size: 150%;
    width: 55%;
    @media only screen and (max-width: 767px) {
      font-size: 100%;
      width: 95%;
    }
    @media only screen and (min-width: 767px) and (max-width: 1042px) {
      width: 85%;
    }
  }
}

.hero-action {
  position: relative;
  z-index: 2;
  opacity: 0;
  animation: fade-in 2s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;

  @media only screen and (min-width: 996px) {
    padding-top: 115px;
  }

  @media only screen and (min-width: 1400px) {
    padding-top: 350px;
  }

  .register-btn {
    @include dinpro-text(175%, bold, #fff);
    position: relative;
    z-index: 2;

    @media only screen and (max-width: 767px) {
      @include dinpro-text(125%, bold, #fff);
    }
  }
  .hero-learn {
    color: $dark-lavender;
    margin-top: 5px;
    font-size: 150%;
    @media only screen and (max-width: 767px) {
      font-size: 115%;
    }
  }
}

@media only screen and (max-width: 991px) {
  .hero-information {
    .hero-logo {
      margin-top: 150px;
    }
  }
  .hero-action {
    padding-top: 100px;
  }
}

@media only screen and (max-width: 767px) {
  .hero-information {
    .hero-logo {
      margin-top: 225px;
    }
    #technica-logo {
      width: 500px;
    }
  }
  .hero-action {
    padding-top: 100px;
  }
}

@media only screen and (max-width: 575px) {
  .hero {
    padding-bottom: 75px;
  }
  .hero-information {
    font-size: 5vw;
    #technica-logo {
      width: 80vw;
    }
    #theme-logo {
      width: 40vw;
      min-width: 120px;
    }
  }
}

// *** intro section ***
.about-text {
  padding-bottom: 2.5rem;
}

.polaroid-wrapper {
  text-align: center;
}

.polaroid {
  width: 15rem;
  height: auto;
  position: absolute;
  background-color: $polaroid-border;
  padding: 1rem 1rem 3.25rem 1rem;

  &.polaroid1{
    right: 4rem;
    top: -7rem;
    transform: rotate(-3deg)
  }

  &.polaroid2{
    right: -4rem;
    bottom: -5rem;
    transform: rotate(10deg)
  }

  @media (max-width: 991px) {
    position: static;
  } 

  @media only screen and (max-width: 767px) {
    padding: 1rem 1rem 3.25rem 1rem;
  }

  @media only screen and (max-width: 500px) {
    width: 10rem;
    padding: 0.5rem 0.5rem 2rem 0.5rem;
  }
}

// *** what can you do section ***
a:hover {
  text-decoration: none;
}

.what-can-you-do {
  .nav {
    display: flex;
    justify-content: center;
  }

  .tab-container {
    flex: 1;
    display: flex;
    justify-content: center;
  }

  .tab-container:first-child > span {
    margin-right: auto;
  }

  .tab-container:last-child > span {
    margin-left: auto;
  }

  .nav-tabs {
    border-bottom: none;
    margin-bottom: 0.5rem;
  }

  .tab-content {
    width: 100%;
    height: 20rem;
    background-color: $ex-light-lavender;
    border-radius: 33px;
    padding: 2rem;
  }

  .title {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $lavender;
  }

  .tab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: black;

    .radio {
      width: 2.5rem;
      height: 2.5rem;
      background-color: $ex-light-lavender;
      border-radius: 50%;
    }
  }
  .tab.active {
    animation: fadein 1.25s;

    .title {
      border: solid 0.5rem;
      border-left: none;
      border-top: none;
      border-right: none;
      color: black;

      .radio {
        border: solid 0.2rem;
      }

      &.blue {
        border-color: $hero-blue;
      }

      &.pink {
        border-color: $pink;
      }

      &.orange {
        border-color: $orange;
      }
    }

    .radio.pink {
      border-color: $pink;
    }
    .radio.orange {
      border-color: $orange;
    }
    .radio.blue {
      border-color: $hero-blue;
    }
  }
}

// *** testimonials section ***
.testimonials {
  position: relative;
  z-index: 5;
  margin-top: -1vw; //white line was appearing between sections
  margin-bottom: 4%;
}

.testimonial-quote {
  font-size: 125%;
  @media only screen and (max-width: 767px) {
    padding-top: 100px;
    font-size: 100%;
  }
}

.testimonial-name {
  font-size: 115%;
  @media only screen and (max-width: 767px) {
    font-size: 100%;
  }
}

.testimonial-image {
  width: 200px;
  //border: 5px solid $pink;
  border-radius: 50%;
}

// *** tracks section ***
//can't rename from tracks without js breaking - figure out later
.tracks {
  position: relative;
  z-index: 5;
  margin-top: -1vw;
  /*height: 100%;*/
  margin-bottom: 4%;
}

.track-title {
  padding: 1% 0 0 0;
}

.track-image {
  width: 200px;
  padding-top: 10px;

  @media (max-width: 991px) {
    width: 190px;
  } 

  @media only screen and (max-width: 767px) {
    padding-top: 30px;
    width: 170px;
  }

  @media only screen and (max-width: 500px) {
    padding-top: 30px;
    width: 150px;
  }

  @media only screen and (max-width: 425px) {
    padding-top: 60px;
  }

  @media only screen and (max-width: 385px) {
    padding-top: 40px;
    width: 130px;
  }
}

.beginner,
.hardware,
.general,
.research {
  /*padding: 25px 10px;*/
  height: 100%;
  margin: 0px 5px;
  width: 675px;
  background-color: $ex-light-lavender;
  border-radius: 33px;
  padding: 2%;

  h3 {
    margin: 15px 0;
  }
}

.track-text {
  margin: 0 10px;
}

.flickity-page-dots {
  top: 105%;
}

.flickity-page-dots .dot {
  width: 20px;
  height: 20px;
  opacity: 1;
  background: transparent;
  border: 2px solid $ex-light-lavender;
}

.flickity-page-dots .dot.is-selected {
  background: $ex-light-lavender;
}

.gallery {
  height: 450px;
}
//need to clean this up later
@media (max-width: 991px) {
  .tracks {
    margin-bottom: 2%;
  }

  .gallery {
    height: 500px;
  }

  .beginner,
  .hardware,
  .general,
  .research {
    width: 500px;
  }

  .track-text {
    padding: 0px 20px;
    font-size: 99%;
  }
}

@media (max-width: 767px) {
  .gallery {
    height: 500px;
    width: 100%;
    position: relative;
  }

  .beginner,
  .hardware,
  .general,
  .research {
    margin: 0px 3px;
  }

  .track-text {
    padding: 0px 20px;
  }

  .container p {
    text-align: center;
  }
}

@media (max-width: 575px) {
  .gallery {
    height: 510px;
  }

  .beginner,
  .hardware,
  .general,
  .research {
    width: 85%;
    margin: 0px 3px;
  }

  .track-text {
    padding: 0px 20px;
  }
}

@media (max-width: 500px) {
  .tracks {
    margin-bottom: 0;
  }

  .gallery {
    height: 540px;
  }

  .track-text {
    padding: 0px 20px;
    font-size: 95%;
  }
}
@media (max-width: 425px) {
  .tracks {
    margin-bottom: 0;
  }
  
  .gallery {
    height: 580px;
  }

  .track-text {
    padding: 0px 20px;
    font-size: 95%;
  }
}
@media (max-width: 385px) {
  .gallery {
    height: 640px;
  }

  .track-text {
    padding: 0px 20px;
    font-size: 95%;
  }
}

@media (max-width: 280px) {
  .gallery {
    height: 640px;
  }

  .track-text {
    padding: 0px 23px;
    font-size: 85%;
  }
}

// *** registration section ***
.registration {
  @media (max-width: 575px) {
    font-size: 1rem;
  }
}

.hacker,
.mentor,
.volunteer {
  background-color: $ex-light-lavender;
  border-radius: 33px;
  text-align: center;
  padding: 5%;
  .btn {
    margin: 3% 0%;
  }
}

@media only screen and (max-width: 991px) {
  .registration .btn {
    font-size: 17px;
  }
}

//mobile
@media only screen and (max-width: 767px) {
  .hacker,
  .mentor,
  .volunteer {
    text-align: center;
    width: 100%;
    padding: 3%;
    margin-bottom: 3%;
    .btn {
      margin: 0;
    }
  }
}

// *** FAQ section ***
.faq {
  margin-top: 50px;

  @media (max-width: 575px) {
    padding-left: 3%;
    padding-right: 3%;
  }
}

.faq-container {
  background-color: $ex-light-lavender;
  padding: 3%;
  border-radius: 33px;
}

.accordion {
  display: flex;
  justify-content: space-between;
  border: none;
  padding-bottom: 2%;
  padding-top: 2%;
  margin-bottom: 2%;
  border-bottom: 3px solid $ex-light-lavender;
  transition: ease all 0.3s;
  cursor: pointer;
  h4 {
    max-width: 95%;
  }
}

.accordion:hover,
.accordion-active {
  border-color: $dark-lavender;
}

.faq-toggle-icon {
  //https://jsfiddle.net/psullivan6/0eL3jezk/
  position: relative;
  width: 10px;
  height: 10px;
  margin-top: 8px;

  &:before,
  &:after {
    content: '';
    position: absolute;
    background-color: black;
    transition: transform 0.25s ease-out;
  }

  /* vertical line */
  &:before {
    top: 0;
    left: 50%;
    width: 2px;
    height: 100%;
    margin-left: -1px;
  }

  /* horizontal line */
  &:after {
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    margin-top: -1px;
  }
}

.accordion-active {
  .faq-toggle-icon {
    &:before {
      transform: rotate(90deg);
    }
    &:after {
      transform: rotate(180deg);
    }
  }
}

.panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.1s ease-out;
  @media (max-width: 575px) {
    font-size: 1rem;
  }
}

.link,
.link:visited {
  font-weight: bold;
  color: $darker-lavender;
}

.link:hover {
  color: $darker-lavender;
  transition: ease 0.3s;
  opacity: 0.7;
  text-decoration: none;
}

// *** footer section ***
.contact-footer {
  color: black;
}

.contact {
  @media (min-width: 1750px) {
    padding-bottom: 50px;
  }
  @media (min-width: 1850px) {
    padding-bottom: 30px;
    padding-top: 0px;
    margin-top: -10px;
  }
  @media (min-width: 2300px) {
    padding-bottom: 40px;
  }
}

.contact-header {
  @include dinpro-text(36px, bold, black);

  @media (max-width: 575px) {
    padding-bottom: 3%;
  }
}

.contact-content {
  margin-top: -10px;
  margin-bottom: 20px;
}

.email-link,
.email-link:visited {
  color: $lavender;
  font-weight: 300;
}

.email-link:hover {
  color: black;
  transition: ease 0.3s;
  opacity: 0.7;
  text-decoration: none;
}

.social-buttons > a:hover {
  text-decoration: none;
}

// contact Circle Class
@mixin circle($color, $size) {
  background-color: $color;
  width: $size;
  height: $size;
  border-radius: 50%;
  display: inline-block;
}

//contact us circles
%contact-circle {
  padding: 8px;
  margin: 0px 10px;
  transition: ease 0.2s;
  @include circle($cyan, 50px);
  &:hover {
    transform: scale(1.06);
  }
  @media (max-width: 575px) {
    margin: 0px 3px;
    padding: 5px;
    width: 40px;
    height: 40px;
  }
}

.blue-circle {
  @extend %contact-circle;
  background-color: $hero-blue;
}

.purple-circle {
  @extend %contact-circle;
  background-color: $lavender;
}

.pink-circle {
  @extend %contact-circle;
  background-color: $pink;
}

.footer {
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;

  #footer-links {
    a:link,
    a:visited {
      color: black;
    }
    a:hover {
      transition: ease 0.3s;
      opacity: 0.7;
      text-decoration: none;
    }
  }

  @media (min-width: 1850px) {
    padding-top: 0px;
    padding-bottom: 4%;
  }
  @media (min-width: 2300px) {
    padding-bottom: 6%;
  }
  @media (max-width: 575px) {
    font-size: 0.9rem;
    adding: 0.5rem 0rem;
  }
}

@media (max-width: 991px) {
  #mlh-trust-badge {
    right: 15px !important;
  }
}
