$cyan: #82ecec;
$pink: #f27aaa;
$lavender: #b5a1c4;
$light-lavender: #cca8c1;
$ex-light-lavender: #e9e3ed;
$hero-blue: #6fcbdc;

$animation-length: 80s;

/* Text */
@mixin heading($color) {
    font-size: 2rem;
    color: $color;
    margin-bottom: 10px;
    margin-left: -15px;
    font-weight: bold;
  }
.heading-pink {
    @include heading($pink);
}

.heading-lavender {
    @include heading($lavender);
}

/* Demographics */
.demographics {
    margin-top: 30px;
    font-size: .95vw;
}