$pink: #ed648d; //old: #f27aaa;
$dark-pink: #CD426B;
$lavender:#9c8da5; //old color: #b5a1c4;
$dark-lavender: #8d7c98;
$darker-lavender: #82708F;
$hero-blue: #6fcbdc;
$darker-hero-blue: #2CA0B5;
$dark-hero-blue: #087F8A;
$container-gray: #f3f3f3;
$animation-length: 80s;

@mixin dinpro-text($size, $weight, $color) {
  font-family: DINPro;
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

/* Text */

h2 {
  text-transform: none;
}

@mixin heading($color) {
  font-size: 2rem;
  color: $color;

  font-weight: bold;
}

.heading-pink {
  @include heading($pink);
}

.heading-lavender {
  @include heading($lavender);
}

.header {
  margin-top: 5rem;
}

.contact,
.stats,
.prospectus {
  margin-top: 60px;
}

.info-input {
  padding: 10px;
  background-color: $pink;
}

.inquiry-box {
  border: 3px solid $pink;
}

.form-control {
  border-radius: 0;
  border: none;
}

.inquiry-btn {
  border-radius: 0;
  background-color: $pink;
}

.inquiry-btn:hover {
  filter: brightness(1.2);
  transition: 0.3s ease;
}

// Statistics Section

.overall-stats .heading {
  font-size: 3.75rem;
}

.overall-stats img {
  height: 75%;
  width: 95%;
  object-fit: cover;
  box-shadow: -2rem 0rem 0 -20px $lavender, 0.75rem -0.75rem $pink;
}

.overall-stats .stat-number {
  font-size: 3rem;
  color: $lavender;
  font-weight: bold;
}

.overall-stats .stat-text {
  font-size: 1.5rem;
}

#stat-photo {
  margin-left: 3%;
}

// Demo Section

.demo-section {
  background-color: $container-gray;
  height: 100%;
  padding: 1.25rem;
}

.demo-name {
  text-align: right;
}

.demo-legend {
  line-height: 3rem;
}

.demo-stat {
  text-align: left;
  float: right;
  width: 30%;
}

.demo-legend {
  line-height: 4rem;
  text-align: left;
  font-size: 1.2rem;
}

.demo-stat {
  text-align: right;
  float: right;
}

.demo-ethnicities {
  line-height: 5vh;
}

.edu-dot {
  width: 1.5vw;
  height: 1.5vw;
  border-radius: 50px;
  display: inline-block;
  vertical-align: -0.3vw;
  margin-right: 10px;
}

// Prospectus Section
.prospectus {
  margin-top: 60px;
}

.prospectus-table {
  display: block;
  overflow-y: auto;
  table-layout: fixed;
  max-height: 35rem;
  background-color: white !important;
}

/* width */
.prospectus-table::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

/* Track */
.prospectus-table::-webkit-scrollbar-track {
  border-radius: 10px;
}
 
/* Handle */
.prospectus-table::-webkit-scrollbar-thumb {
  background: $container-gray; 
  border-radius: 10px;
}

td {
  border-top: none !important;
  background-color: white !important;

}

th {
  border-top: none !important;
  padding-bottom: 5px !important;
  border-bottom: solid 1px black;
}

.add-ons td {
  border-bottom: 1px solid black;
}

.contr-amt {
  width: 11%;
}

.benefit {
  width: 12px;
  height: 12px;
  border-radius: 50px;
  margin: 0 auto;
}

.benefit-text {
  color: $darker-lavender;
}

.general-spons {
  background: $pink;
}

.general-text {
  color: $dark-pink;
}

.recruit {
  background: $lavender;
}

.brand {
  background: $hero-blue;
}
.demo-legend {
  margin: 0.25%;
}

.demo-stat {
  width: 30%;
}

.brand-text {
  color: $dark-hero-blue;
}

.prospectus span {
  cursor: default;
  color: black;
  padding-left: 3px;
}

.prospectus a {
  color: #a88aa8;
  color: $lavender;
}

.prospectus a:hover,
.prospectus a:active {
  color: $lavender;
  filter: brightness(1.2);
  transition: 0.3s ease;
  text-decoration: none;
}

.tooltip-inner {
  min-width: 200px;
  max-width: 350px;
}

.add-ons {
  overflow-x: visible !important;
}

// Prospectus End

// Media Queries
@media only screen and (max-width: 675px) {
  // Statistics
  .stat-number {
    font-size: 5rem;
  }

  .stat-text {
    font-size: 2.25rem;
  }

  // Demographics
  .demo-name {
    width: 80%;
  }

  .demo-stat {
    width: 20%;
  }

  .lower .demo-name {
    width: 70%;
  }

  .lower .demo-stat {
    width: 30%;
  }
}

/* mobile */
@media only screen and (max-width: 575px) {
  .stat-number {
    font-size: 3.7rem;
  }

  .stat-text {
    font-size: 1.7rem;
  }

  .demographics {
    font-size: 3.5vw;
  }

  .demo-name {
    width: 85%;
  }

  .demo-legend {
    font-size: 1rem;
  }

  .demo-stat {
    width: 15%;
  }

  .main,
  .stats,
  .demographics,
  .prospectus,
  .contact {
    padding-left: 3%;
    padding-right: 3%;
  }

  .footer {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  h1 {
    font-size: 1.9rem;
  }

  .overall-stats .heading {
    font-size: 3.25rem;
  }

  .overall-stats img {
    box-shadow: -1.8rem 0rem 0 -20px #a88aa8, 0.5rem -0.5rem #ff7bac;
  }

  .edu .demo-name {
    padding-left: 10%;
  }

  .prospectus {
    font-size: 0.9rem;
  }

  .tooltip-inner {
    width: 300px;
  }

  .heading {
    text-align: center;
  }

  .heading h2 {
    font-size: 31px;
  }

  .tooltip-inner {
    min-width: 200px;
    max-width: 300px;
  }
}

#thank-you {
  background-color: #ff5789;
  padding: 10px;
}

@media only screen and (max-width: 1370px) {
  .letter,
  .stats,
  .demographics,
  .prospectus,
  .contact {
    padding-left: 7% !important;
    padding-right: 7% !important;
  }

  .stat-number {
    font-size: 6.25vw;
  }

  .stat-text {
    font-size: 2.5vw;
  }
}

@media only screen and (min-width: 1422px) {
  .letter,
  .stats,
  .demographics,
  .prospectus,
  .contact {
    padding-left: 10% !important;
    padding-right: 10% !important;
  }
}

.info-input {
  padding: 10px;
  background-color: $pink;
}

.inquiry-box {
  border: 3px solid $pink;
}

.form-control {
  border-radius: 25px;
  border: none;
}

.inquiry-btn {
  border-radius: 50px;
  background-color: $pink;
}

.inquiry-btn:hover {
  filter: brightness(1.2);
  transition: 0.3s ease;
}

/* large breakpoint, switch to mobile-layout */
@media only screen and (max-width: 991px) {
  // Statistics
  .stat-number {
    font-size: 6rem;
  }

  .stat-text {
    font-size: 2.3rem;
  }

  .stat-number {
    font-size: 6rem;
  }

  // Demographics

  .edu {
    padding: 5rem;
  }

  .edu .demo-name {
    padding-left: 20%;
  }

  .edu-dot {
    width: 25px;
    height: 25px;
    vertical-align: -6px;
  }

  .lower .demo-name {
    width: 60%;
  }

  .lower .demo-stat {
    width: 40%;
  }

  .demographics {
    font-size: 16px;
  }

  .demo-section {
    margin-bottom: 20px;
  }

  .demo-stat {
    width: 30%;
  }

  canvas {
    margin-bottom: 20px;
  }
}
