/*@use 'vars';*/
//temporary until resolve _vars.scss issue
$cyan: #82ecec;
$pink: #f27aaa;
$lavender: #b5a1c4;
$light-lavender: #cca8c1;
$light-grey: #e5e5e5;
$grey: #c4c4c4;
$spons-blue: #6fcbdc;

.prospectus {
  margin-top: 60px;
  padding-left: 15%;
  padding-right: 15%;
}

.heading h2 {
  color: $pink;
  text-transform: none;
}

td {
  border-top: none !important;
}

th {
  border-top: none !important;
  padding-bottom: 5px !important;
  border-bottom: solid 1px black;
  background-color: white !important;
}

.add-ons td {
  border-bottom: 2px solid #dee2e6;
}

.contr-amt {
  width: 11%;
}

.benefit {
  width: 12px;
  height: 12px;
  border-radius: 50px;
  margin: 0 auto;
}

.benefit-text {
  color: $lavender;
}

.general-spons {
  background: $pink;
}

.general-text {
  color: $pink;
}

.recruit {
  background: $lavender;
}

.brand {
  background: $spons-blue;
}

.brand-text {
  color: $spons-blue;
}

.prospectus span {
  cursor: default;
  color: grey;
  padding-left: 3px;
}

.prospectus a {
  color: $lavender;
}

.prospectus a:hover,
.prospectus a:active {
  color: $lavender;
  filter: brightness(1.2);
  transition: 0.3s ease;
  text-decoration: none;
}

.tooltip-inner {
  min-width: 200px;
  max-width: 350px;
}

.add-ons {
  overflow-x: visible !important;
}

/* large breakpoint, switch to mobile-layout */
@media only screen and (max-width: 991px) {
  .heading {
    text-align: center;
  }
}

/* mobile */
@media only screen and (max-width: 575px) {
  .prospectus {
    font-size: 0.9rem;
  }

  .heading {
    text-align: center;
  }

  .heading h2 {
    font-size: 31px;
  }

  .tooltip-inner {
    min-width: 200px;
    max-width: 300px;
  }
}