$cyan: #82ecec;
$pink: #f27aaa;
$lavender: #b5a1c4;
$light-lavender: #cca8c1;
$ex-light-lavender: #e9e3ed;
$hero-blue: #6fcbdc;
$container-gray: #f3f3f3;

$animation-length: 80s;

/* Text */
@mixin heading($color) {
    font-size: 2rem;
    color: $color;
    margin-bottom: 10px;
    margin-left: -15px;
    font-weight: bold;
  }
$light-grey: #e5e5e5;
$grey: #c4c4c4;
$spons-blue: #6fcbdc;
$animation-length: 80s;

.container-fluid {
  padding-left: 10%;
  padding-right: 10%;
}

.header {
  margin-top: 5rem;
}

.demographics,
.contact,
.stats,
.prospectus {
  margin-top: 60px;
}

.info-input {
  padding: 10px;
  background-color: #ff5789;
}

.inquiry-box {
  border: 3px solid #ff5789;
}

.form-control {
  border-radius: 0;
  border: none;
}

.inquiry-btn {
  border-radius: 0;
  background-color: #ff5789;
}

.inquiry-btn:hover {
  filter: brightness(1.2);
  transition: 0.3s ease;
}

.overall-stats .heading {
  font-size: 3.75rem;
}


.overall-stats img {
  height: 75%;
  width: 95%;
  object-fit: cover;
  box-shadow: -2rem 0rem 0 -20px #a88aa8, 0.75rem -0.75rem #ff7bac;
}

/* Text */

h2 {
  text-transform: none;
}

@mixin heading($color) {
    font-size: 2rem;
    color: $color;

    font-weight: bold;
  }
  
.heading-pink {
    @include heading($pink);
}

.heading-lavender {
    @include heading($lavender);
}

// Demo Section

.demo-section {
    background-color: $container-gray;
    height: 100%;
    padding: 1.25rem;
}

.demo-name {
    text-align: right;
}

.demo-legend {
    line-height: 3rem;
}

.demo-stat {
    text-align: left;
    float: right;
    width: 15%;
}

.demo-legend {
    line-height: 4rem;
    text-align: left;
    font-size: 1.2rem;
}

.demo-stat {
    text-align: right;
    float: right;
}

.edu-dot {
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 50px;
    display: inline-block;
    vertical-align: -.3vw;
    margin-right: 10px;
  }
  
  
  /* large breakpoint, switch to mobile-layout */
@media only screen and (max-width: 991px) {
  .stat-number {
    font-size: 6rem;
  }

  .stat-text {
    font-size: 2.3rem;
  }

  .demo-stat {
    width: 10%;
  }

  .edu {
    padding: 5rem;
  }

  .edu .demo-name {
    padding-left: 20%;
  }

  .edu-dot {
    width: 25px;
    height: 25px;
    vertical-align: -6px;
  }

  .lower .demo-name {
    width: 60%;
  }

  .lower .demo-stat {
    width: 40%;
  }
}

@media only screen and (max-width: 675px) {
  .stat-number {
    font-size: 5rem;
  }

  .stat-text {
    font-size: 2.25rem;
  }

  .demo-name {
    width: 80%;
  }

  .demo-stat {
    width: 20%
  }

  .lower .demo-name {
    width: 70%;
  }

  .lower .demo-stat {
    width: 30%;
  }
}

/* mobile */
@media only screen and (max-width: 575px) {
  .stat-number {
    font-size: 3.7rem;
  }

  .stat-text {
    font-size: 1.7rem;
  }

  .demographics {
    font-size: 3.5vw;
  }

  .demo-name {
    width: 85%;
  }

  .demo-legend {
    font-size: 1rem;
  }

  .demo-stat {
    width: 15%
  }
}

// Prospectus Section
.prospectus {
  margin-top: 60px;
}

td {
  border-top: none !important;
}

th {
  border-top: none !important;
  padding-bottom: 5px !important;
  border-bottom: solid 1px black;
  background-color: white !important;
}

.add-ons td {
  border-bottom: 2px solid #dee2e6;
}

.contr-amt {
  width: 11%;
}

.benefit {
  width: 12px;
  height: 12px;
  border-radius: 50px;
  margin: 0 auto;
}

.benefit-text {
  color: $lavender;
}

.general-spons {
  background: $pink;
}

.general-text {
  color: $pink;
}

.recruit {
  background: $lavender;
}

.brand {
  background: $spons-blue;
}

.brand-text {
  color: $spons-blue;
}

.prospectus span {
  cursor: default;
  color: grey;
  padding-left: 3px;
}

.prospectus a {
  color: #a88aa8;
  color: $lavender;
}

.prospectus a:hover,
.prospectus a:active {
  color: $lavender;
  filter: brightness(1.2);
  transition: 0.3s ease;
  text-decoration: none;
}

.tooltip-inner {
  min-width: 200px;
  max-width: 350px;
}

.add-ons {
  overflow-x: visible !important;
}

#thank-you {
  background-color: #ff5789;
  padding: 10px;
}

@media only screen and (max-width: 1370px) {
  .main {
    padding-left: 7%;
    padding-right: 7%;
  }

  .stat-number {
    font-size: 6.25vw;
  }

  .stat-text {
    font-size: 2.5vw;
  }

  .demographics {
    font-size: 1.1vw;
  }
}

/* large breakpoint, switch to mobile-layout */
@media only screen and (max-width: 991px) {
  .main {
    padding-left: 10%;
    padding-right: 10%;
  }

  canvas {
    margin-bottom: 20px;
  }

  .stat-number {
    font-size: 6rem;
  }

  .stat-text {
    font-size: 2.3rem;
  }

  .demographics {
    font-size: 16px;
  }

  .demo-section {
    margin-bottom: 20px;
  }

  .stretch {
    position: static;
  }

  .demo-name {
    padding-right: 7.5%;
    width: 70%;
  }

  .demo-stat {
    width: 30%;
  }

  .edu .demo-name {
    padding-left: 20%;
  }

  .edu-dot {
    width: 25px;
    height: 25px;
    vertical-align: -6px;
  }

  .lower .demo-name {
    width: 60%;
  }

  .lower .demo-stat {
    width: 40%;
  }
}

@media only screen and (max-width: 675px) {
  .stat-number {
    font-size: 5rem;
  }

  .stat-text {
    font-size: 2.25rem;
  }

  .demo-name {
    width: 80%;
  }

  .demo-stat {
    width: 20%;
  }

  .lower .demo-name {
    width: 70%;
  }

  .lower .demo-stat {
    width: 30%;
  }
}

/* mobile */
@media only screen and (max-width: 575px) {
  .main {
    padding-left: 3%;
    padding-right: 3%;
  }

  h1 {
    font-size: 1.9rem;
  }

  .overall-stats .heading {
    font-size: 3.25rem;
  }

  .overall-stats img {
    box-shadow: -1.8rem 0rem 0 -20px #a88aa8, 0.5rem -0.5rem #ff7bac;
  }

  .stat-number {
    font-size: 3.7rem;
  }

  .stat-text {
    font-size: 1.7rem;
  }

  .demographics {
    font-size: 3.5vw;
  }

  .demo-name {
    width: 85%;
  }

  .demo-stat {
    width: 15%;
  }

  .edu .demo-name {
    padding-left: 10%;
  }

  .prospectus {
    font-size: 0.9rem;
  }

  .tooltip-inner {
    width: 300px;
  }
  .prospectus {
    font-size: 0.9rem;
  }

  .heading {
    text-align: center;
  }

  .heading h2 {
    font-size: 31px;
  }

  .tooltip-inner {
    min-width: 200px;
    max-width: 300px;
  }
}

.info-input {
  padding: 10px;
  background-color: $pink;
}

.inquiry-box {
  border: 3px solid $pink;
}

.form-control {
  border-radius: 25px;
  border: none;
}

.inquiry-btn {
  border-radius: 50px;
  background-color: $pink;
}

.inquiry-btn:hover {
  filter: brightness(1.2);
  transition: 0.3s ease;
}
